<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.mapper.EnterpriseMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.dao.model.Enterprise">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ent_id" jdbcType="INTEGER" property="entId" />
    <result column="enterprise_name" jdbcType="VARCHAR" property="enterpriseName" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="frdb" jdbcType="VARCHAR" property="frdb" />
    <result column="tax_code" jdbcType="VARCHAR" property="taxCode" />
    <result column="reg_amount" jdbcType="VARCHAR" property="regAmount" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="attachment" jdbcType="VARCHAR" property="attachment" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="ent_desc" jdbcType="LONGVARCHAR" property="entDesc" />
  </resultMap>
  
  <select id="searchEnterprise" resultMap="BaseResultMap">
  	SELECT * FROM enterprise WHERE 1=1
  	<if test="params.kw!=null">
  		AND enterprise_name LIKE CONCAT('%',#{params.kw},'%')
  	</if>
  	<if test="params.status!=null">
  		AND status=#{params.status}
  	</if>
  	LIMIT #{params.start},#{params.end}
  </select>
  
  <insert id="insertEnterprise" useGeneratedKeys="true" keyProperty="entId" keyColumn="ent_id" parameterType="com.example.demo.dao.model.Enterprise">
  	INSERT INTO enterprise ( enterprise_name,user_name,pwd,tel,email,frdb,tax_code,reg_amount,address,attachment,status,ent_desc ) 
  	VALUES( #{enterpriseName}, #{userName}, #{pwd}, #{tel}, #{email}, #{frdb}, #{taxCode}, #{regAmount}, #{address}, #{attachment}, #{status}, #{entDesc} ) 
  </insert>
</mapper>